.cabecera{
    align-items: center;
    background: #f9f9f9;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}

@media screen  and(min-width:0) {
    .cabecera {
        justify-content: center;
    }
    
}

@media screen and(max-heigth: 450px) {
    .cabecera{
        justify-content: right;
    }
}